.iForm {
    width: 550px;
    height: 300px;
    
    background-color: lightgray;
    box-shadow: 0 0 0 6px lightblue, 0 0 10px 6px rgba(0, 0, 0, 0.5);
    border: 3px solid cyan; 

    margin-left: 50%;
    margin-right: 50%; 
}
label, 
input {
    display: inline-block; 
}
label {
    font-size: 20px;
}
